
<h2>Success!!</h2>

<p>@ViewBag.Name</p>
@using lab21.Models

@model RegisterClass

@if (Model != null)
{
    <p>Welcome @Model.FirstName @Model.LastName!!</p>

}
else
{
    <p>Something Went Wrong!</p>
}

<a href="http://localhost:60581/home/" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Return Home</a>
